
body{
    margin: 0;
    overflow-x: hidden;
}

.mountain{
    height: 25rem;


}
h1{
    color: white;
    padding-top: 1rem;
    padding-left: 2.8rem;
}
#date{
    color: white;
    padding-top: 1rem;
    padding-left: 2.8rem;
}
.fa-plus-circle{
    color: white;
}
.container{
    justify-items: center;

    position: relative;
    bottom: 15rem;
    width: 99%;
}
.item{
    background-color: white;
    padding-top: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom: 1px solid #e4e5f1;
}
#list{
    padding-top: 2rem;
    width: 25.2rem;
    padding-left: 2.8rem;
}
.line-through{
    color: darkgray;
    text-decoration: line-through;
}

.form-input{
    width: 100%;
    height: 2rem;
    background-color: white;
    border-radius: 5px;
}
.form-check-input{
    border-radius: 10rem;!important;
    position: relative;
    top: 0.2rem;
    left: 0;
}
#todo-input{
    border-color: transparent;
}
#input {
    width: 24rem;
    border-radius: 5px;
    border: none;
    height: 3rem;

}
.add-item{
    padding-top: 2rem;
}
.fa-circle{
    color: #e4e5f1;
}
.fa-trash{
    background-color: white;
    color: grey;
}
.fa-check-circle{
    background-color: white;
    color: #6d81ef;
}




